.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}

.transitionProperty(@property, @duration) {
	-webkit-transition:@property @duration linear;
	-moz-transition:@property @duration linear;
	-ms-transition:@property @duration linear;
	-o-transition:@property @duration linear;
	transition:@property @duration linear;
}

.transitionProperty(@property, @duration, @delay) {
	-webkit-transition:@property @duration linear @delay;
	-moz-transition:@property @duration linear @delay;
	-ms-transition:@property @duration linear @delay;
	-o-transition:@property @duration linear @delay;
	transition:@property @duration linear @delay;
}

.font-face (@fontname, @fontfile, @fontweight:normal) {
    @font-face {
        font-family: @fontname;
        src: url('@{fontfile}.eot');
        src: url('@{fontfile}.eot?#iefix') format('embedded-opentype'),
             url('@{fontfile}.woff') format('woff'),
             url('@{fontfile}.ttf') format('truetype'),
             url('@{fontfile}.svg#@{fontname}') format('svg');
        font-weight: @fontweight;
        font-style: normal;
    }
}

.bgTransparentGif() {
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}

.clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    *zoom: 1;
}