@font-face {
  font-family: "SwissBPMedium";
  src: url('/assets/fonts/suisse_bp_intl_medium-webfont-webfont.eot');
  src: url('/assets/fonts/suisse_bp_intl_medium-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/suisse_bp_intl_medium-webfont-webfont.woff') format('woff'), url('/assets/fonts/suisse_bp_intl_medium-webfont-webfont.ttf') format('truetype'), url('/assets/fonts/suisse_bp_intl_medium-webfont-webfont.svg#SwissBPMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OurWebFont";
  src: url('/assets/fonts/ourwebfont-webfont.eot');
  src: url('/assets/fonts/ourwebfont-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ourwebfont-webfont.woff') format('woff'), url('/assets/fonts/ourwebfont-webfont.ttf') format('truetype'), url('/assets/fonts/ourwebfont-webfont.svg#OurWebFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SwissBPRegular";
  src: url('/assets/fonts/SuisseBPIntlRegular.eot');
  src: url('/assets/fonts/SuisseBPIntlRegular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/SuisseBPIntlRegular.woff') format('woff'), url('/assets/fonts/SuisseBPIntlRegular.ttf') format('truetype'), url('/assets/fonts/SuisseBPIntlRegular.svg#SwissBPRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
