html,
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.1em;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: inherit;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a.active,
a:hover {
  color: #ff0000;
}
.active {
  color: #ff0000;
}
